body{
    background-color: rgb(236, 237, 237);
}
.h1{
    background-color: rgb(0, 200, 255);
    text-align: center;
    color: rgb(0, 0, 144);
    border: 3px solid red;
    border-radius: 20px;
}
.i1{
    color: rgb(155, 0, 0);
}
.h2{
    color: green;
}
.h3{
    background-color: yellow;
    color: green;
    text-align: center;
}
button{
    color: white;
    background-color: rgb(0, 179, 255);
}
.p1{
    color: green;
}
table,tr,td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}
.td1{
    color: white;
    background-color: green;
   width: 150px;
}
.td2{
    color: white;
    background-color: red;
}
.td3{
    color: white;
    background-color: blue;
    width: 700px;
}
.td4{
    color: white;
    background-color: black;
}